{{define "title"}}About{{end}}
{{define "content"}}<p>I am {{.Author}}, I live in Germany and I am currently a junior Java SE developer. I do both frontend and backend.</p>

<p>In my free time I mostly play games, watch anime and write software.</p>

<p>On this blog I’ll occasionally write about experiences and thoughts that I’ve had.</p>

<h2>My projects</h2>

<p>99% of what I've done can be found on my GitHub page:
<a href="https://github.com/Bios-Marcel">github.com/Bios-Marcel</a></p>

<h2>Contact me</h2>

E-Mail: <a href="mailto:{{.Email}}">{{.Email}}</a><br/>
Matrix: @biosmarcel:matrix.org
{{end}}